*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    
}
h1{
    text-align: center;
    padding-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    letter-spacing: 10px;
}

.container{
    width: 100%;
    margin: 100px auto;
    columns: 5;
    column-gap: 10px;
 
}
.box{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.box div{
    width: 235px;
    height: 200px;
    background-color: red;
}
.box div:nth-child(3n+1){
    height: 300px;
}